.container {
    margin-top: 5rem;
    width: 40vw;
}
.container .jumbotron {
    margin-bottom: 20px;
}
h1 {
    font-weight: lighter;
}
.row {
    display: flex;
    flex-direction: column;
}
.row input {
    width: 30vw;
    border: 0;
    border-bottom: 1px solid #212121;
    border-radius: 0;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    position:relative;
}
.row input::placeholder {
    color: #000;
}
.row .col-3 {
    margin-top: 15px;
}
.row .col-3 .btn {
    width: 30vw;
    background-color: #cc0000;
    color: #fff;
    position: absolute;
}