<header>
    <div class="header1">
        <a href="/"><img src="https://www.santander.com.br//sites/WPC_CMS/imagem/21-04-22_191531_M_logo-santander.svg" alt="" alt="" width="131" height="23" /></a>

        <div class="nav-bar">
            <li><a href="#" id="active">Para você</a></li>
            <li><a href="#">Para sua empresa</a></li>
        </div>
    </div>
    <ul>
        <li><a href="/correntistas" alt="Abrir Conta" aria-label="abrir conta">Abra sua conta</a></li>
        <li><a href="/">Fazer Login</a></li>
    </ul>
</header>
<div class="menu">
    <ul >
        <li>
           <a href="/movimentacoes" alt="Minhas Movimentações" aria-label="movimentações da conta">Meu Extrato</a>
        </li>
        <li>
           <a href="/">Open Finance</a>
        </li>
        <li>
           <a href="/">Serviços</a>
        </li>
        <li>
           <a href="/">Agências</a>
        </li>
    </ul>
</div>

<router-outlet></router-outlet>
